.container{
    display:flex;
    flex-direction:column;
}

.calendar-box{
    display:flex;
}

.calendar-box div{
    flex:1;
}

th, tr ,table , td{
    border:1px solid black;
}

.weekDays{
    display:flex;
    position:relative;
    justify-content:end;
    align:right;
    margin:auto;
    text-align:right;
}

.weekDays td{
    background-color: red;
}